torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
nnAudio==0.2.5
tensorboard==2.6.0
torchsummary==1.5.1
torchmetrics==0.6.2
matplotlib==3.5.1
pyyaml==6.0
pandas==1.4.2
scipy==1.8.0
tqdm==4.64.0
protobuf==3.20.1
PySoundFile==0.9.0
